<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.library.data.category.CategoryMapper">



    <!--<select id="selectBooksByAuthorId" resultMap="book">-->
        <!--select * from book where author_id=#{authorId}-->
    <!--</select>-->
    <!--<select id="selectBooksBycategoryId" resultMap="book">-->
        <!--select * from book where categoryId=#{categoryId}-->
    <!--</select>-->
    <select id="getAllCategory" resultMap="category">
        select * from category
    </select>


    <!--<select id="getBookById" resultMap="book">-->
        <!--select * from book where bookid=#{bookid}-->
    <!--</select>-->


    <resultMap id="category" type="com.example.library.vo.CategoryVO">
        <id column="id" property="id"></id>
        <result column="categoryname" property="categoryName"></result>
        <result column="image" property="image"></result>
        <result column="motto" property="motto"></result>
        <result column="heat" property="heat"></result>
    </resultMap>


</mapper>