<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.library.data.author.AuthorMapper">

    <select id="getAuthorById" resultMap="Author">
        select * from Author where authorid=#{id}
    </select>
    <select id="getAuthornameById" resultType="String">
        select name from Author where authorid=#{id}
    </select>
    <select id="getAuthornameByCategoryid" resultType="String">
        select name from Author where categoryid=#{id}
    </select>
    <resultMap id="Author" type="com.example.library.vo.AuthorVO">
        <id column="authorid" property="authorid"></id>
        <result column="name" property="name"></result>
        <result column="country" property="country"></result>
        <result column="intro" property="intro"></result>
        <result column="image" property="image"></result>
        <result column="totalBook" property="totalBook"></result>
        <result column="categoryid" property="categoryid"></result>
    </resultMap>
</mapper>